<div class = "sidebar">
  <div class="name monospace">
    Veronica Rivera
  </div>
  <div class="title monospace">
    PhD Candidate, Computational Media
  </div>
  <div class="location monospace">
    University of California, Santa Cruz
  </div>
  <div class="nav-items monospace">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main.ByWeight }}
      <div class="nav-item {{ if $currentPage.IsMenuCurrent "main" . }}active-nav-item{{ end }}">
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
      </div>
    {{ end }}
  </div>
  <div class= "contact-info monospace">
    <div class= "contact-title">Contact</div>
    <div class= "email">veariver[at]ucsc[dot]edu</div>
    <div class= "social"></div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href = "https://twitter.com/veronrivera"><i class="fa fa-twitter"></i></a>
      <a href = "https://www.linkedin.com/in/veronicarivera1"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class= "news monospace">
    {{readFile "content/news.md" | markdownify}}
  </div>

  
</div>