<section class="contact-section">
  <div>
    <h3 id="contact">Contact</h3>
    <div class="contact-info">
      {{ site.data.settings.contact-info }}
    </div>
  </div>
  <div>
    <div class="contact-links">
      {% for link in site.data.settings.contact-links %}
        {% if link.contact-text == "Twitter" %}
        <div class="twitter">
          <a href="https://twitter.com/veronrivera">
          <img title="Twitter" alt="Twitter" src="https://socialmediawidgets.files.wordpress.com/2014/03/01_twitter.png" width="45" height="45" />
          </a></div>
          {% else if link.contact-text == "Linkedin" %}
          <div class ="linkedin">
            <a href="https://www.linkedin.com/in/veronicarivera1/">
            <img title="LinkedIn" alt="LinkedIn" src="https://socialmediawidgets.files.wordpress.com/2014/03/07_linkedin.png" width="45" height="45" />
            </a></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
