<section class="publications_section">
  <h3 id="publications">Publications</h3>

  <div class ="publications-list">
  	{% for publication in site.data.settings.publications %}
  		{% if publication.type == "conference" %}
  			<div class ="conference">
  				{{ publication.authors }}. {{ publication.year }}. {{ publication.title }}. {{ publication.where}} 
  			</div>
  		{% else %}
  			<div class ="journal">
  				{{ publication.authors }}. {{ publication.year }}. {{ publication.title }}. {{ publication.where}} 
  			</div>
  		{% endif %}
  	{% endfor %}
  </div>
</section>
