header
  height: 150px
  max-width: 95%
  background: #6877f2
  background-size: cover
  margin: 0 auto
  float: none

  nav
    background-color: #ffffffa0
    border-radius: 1em
    float: right
    margin: 30px 20px 0px 0px
    a
      display: inline-block
      margin-left: 10px
      margin-right: 10px

      @extend %small-bold

      &:hover
        color: rgba(0,0,0,1)

  h1
    float: left
    margin: 20px 0px 0px 20px
    font:
      size: 38px
      weight: 700
    color: rgba(0,0,0,0.7)

    span
      background-color: #ffffffa0
      border-radius: 1em
      padding-left: 10px
      padding-right: 10px
    
      text-transform: uppercase
    
    &:hover
      color: rgba(0,0,0,1)

      

