.news {
  margin-top: 2em;
  padding-top: 5px; 
  //border-top: 0.15em solid #d6e1e6; 
  padding-right: 15px; 
  h1{
    margin-bottom: 0px;
    margin-top: 0px; 
    color: #494E52;
    font-size: 20px;
    font-weight: 400; 
  }
  h2 {
    margin-top: .5em; 
    margin-bottom: 0px; 
    color: #BABABA; 
    font-size: 13px;
  } 
  p {
    margin-top: 0px; 
    margin-bottom: 0px; 
    color: #716A7F; 
    font-size: 14px; 
    padding-bottom: 10px;
  }
}