div.post-list {
  div.entry {
    margin: 3em 0;
  }

  div.entry h2 {
    margin-bottom: 0.25em;
  }

  div.entry a {
    margin-bottom: 0.25em;
    color: inherit;
  }

  div.entry p {
    margin: 0;
  }
}
