@import 'vars';
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  border-right: 0.15em solid #d6e1e6;
  //min-width: 33.333%;
  //min-width: 25%;
  //max-width: 22%;
  width: auto; 
  //height: 90%;
  margin-right: 50px;
  padding-left: 20px;

  .title {
    padding: 5px 5px 0 0;
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.75em;
    margin-bottom: 2em;
    color: #716A7F;
    line-height: 1.75em;
  }

  .location {
    padding: 5px 5px 0 0; 
    font-size: 1em; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 2em;
    color: #716A7F; 
  }

  .nav-items {
    padding: 5px 5px 0 0;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 18px; 

    .nav-item {
      margin: 2px 0;
      padding-right: 5px;
      transition: border-color 0.5s;
      //border-right: 4px solid white;

      &:hover {
        //color: #743CDE;
        color: #057baa; 
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .active-nav-item {
      //color: #743CDE;
      color: #057baa; 
      //color: #e98074; 
    }
  }

  .contact-info {
    margin-top: 2em; 
    padding-top: 2em;
    border-top: 0.15em solid #d6e1e6;
    font-size: 14px;

    .contact-title {
      font-weight: bold;
      margin-bottom: 0.25em;
    }

    .email {
      font-family: monospace;
      font-size: 12px;
      margin-right: auto;
      padding-right: 10px;
    }

    .fa {
      font-size: 18px; 
      //color: #077cd2; 
      color: #2E9CCA; 
      margin-right: 0.5em;
      margin-top: 0.25em;
    }
  }
  
}
