div.software {
  display: flex;
  flex-direction: row;
  margin: 20px 0;

  div.left {
    width: 150px;
    flex-shrink: 0;
    margin-right: 20px;
    text-align: right;
    font-weight: bold;
  }

  div.right a {
    font-size: 0.8em;
  }
}
