div.content {
  table {
    margin-bottom: 1em;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #bbbbbb;
  }

  thead {
    background-color: #dddddd;
    border-bottom: 1px solid #bbbbbb;
  }

  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    border-right: 1px solid #bbbbbb;
  }

  td {
    padding: 0.5em;
    border-bottom: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }

  table.bottom-total tbody tr:last-child {
    font-weight: bold;
  }

  table.right-total tbody td:last-child {
    font-weight: bold;
  }
}