@import 'teaching';
@import 'internship';
@import 'software';
@import 'sidebar';
@import 'vars';
@import 'table';
@import 'email';
@import 'post_list';
@import 'news'; 
@import 'research'; 
@import 'project-icons';
@import 'service'; 

$text-color: #494e52;
//$link-color: #077cd2;
//old color $link-color: #2E9CCA; 
//old color 2 $link-color: #1a73e8;
$link-color: #59c9a5;
//$link-color: #42c686; 
//$header-color: rgb(56, 23, 241);
//$header-color: #743CDE; 
//$header-color: #d17480; 
$header-color: #057baa; 
$detail-color: #868f97;
//$nav-color: #00ba0f;
$nav-color: #5B27BE; 
$serif: Lora, Georgia, "Times New Roman", Times, serif;
$sans: Lato, Arial, sans-serif;
$monospace: "Roboto Mono", "DejaVu Sans Mono", monospace;
html {
  overflow-y: scroll;
}

body {
  font-family: $sans;  
  text-rendering: optimizeLegibility;
  font-size: 15px;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }
}

h2,
h3 {
  font-family: $sans;
  font-weight: 200;
  padding-top: 10px;
}

h1.title {
  border-bottom: 0.25pt dashed gray;
}

.navbar {
  height: 50px; 
  display: flex; 
  flex-direction: column;
}

.page-container {
  margin: 0 auto;
  //padding-right: 100px;
  //padding-left: 100px;
  //padding-top: 80px;
  margin: 50px auto; 
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  width: 950px;
}

.monospace {
  font-family: $sans;
}

.name {
  font-size: 2em;
  //justify-content: flex-start;
  //border-bottom: 1pt solid black;
}

.content {
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.justify-center {
  display: flex;
  justify-content: center;
}

.paper-titles {
  color: #0b668a; 
  font-weight: bold; 
}
